<div class="container">
  <h5 class="mt-5 text-muted">Register Here</h5>
  <div class="card shadow">
    <div class="card-body">

     <!-- creating a form for register -->

      <form [formGroup]="registerFormGroup" (ngSubmit)="submitRegisterForm()">
        <h6 class="text-danger"><span >*</span> Denotes required fields.</h6>

        <div class="row">
          <div class="mb-3 col-4">
            <label class="form-label"><b><span class="text-danger">*</span> First Name:</b></label>
            <input type="text"
              [class.is-invalid]="(firstName?.dirty ||isInvalidRegisterForm ||firstName?.touched)&&firstName?.invalid"
              class="form-control" formControlName="firstName" placeholder="Enter your first name">
            <div *ngIf="(firstName?.dirty ||isInvalidRegisterForm || firstName?.touched)&&firstName?.invalid">
              <small class="text-danger" *ngIf="firstName?.errors?.['required']">First name is required</small>
              <small class="text-danger" *ngIf="firstName?.errors?.['pattern']">First name is not valid</small>
            </div>
          </div>
          <div class="mb-3 col-4">
            <label class="form-label"><b><span class="text-danger">*</span> Last Name:</b></label>
            <input type="text"
              [class.is-invalid]="(lastName?.dirty ||isInvalidRegisterForm || lastName?.touched)&&lastName?.invalid"
              class="form-control" formControlName="lastName" placeholder="Enter your last name">
            <div *ngIf="(lastName?.dirty ||isInvalidRegisterForm || lastName?.touched)&&lastName?.invalid">
              <small class="text-danger" *ngIf="lastName?.errors?.['required']">Last name is required</small>
              <small class="text-danger" *ngIf="lastName?.errors?.['pattern']">Last name is not valid</small>
            </div>
          </div>

          <div class="mb-3 col-4">
            <label class="form-label"><b><span class="text-danger">*</span> Email:</b></label>
            <input type="email" [class.is-invalid]="(email?.dirty ||isInvalidRegisterForm || email?.touched)&&email?.invalid"
              class="form-control" formControlName="email" placeholder="Enter your email">
            <div *ngIf="(email?.dirty ||isInvalidRegisterForm || email?.touched)&&email?.invalid">
              <small class="text-danger" *ngIf="email?.errors?.['required']">Email is required</small>
              <small class="text-danger" *ngIf="email?.errors?.['pattern']">Email is not valid</small>
            </div>
          </div>

        </div>

        <div class="row">
          <div class="mb-3 col-4">
            <label class="form-label"><b><span class="text-danger">*</span> Password:</b></label>
            <div class="d-flex">
              <input [value]="hiddenPassword?replacedPassword:originalPassword"  (input)="changePasswordInAsterisk($event)"
                [class.is-invalid]="(password?.dirty ||isInvalidRegisterForm || password?.touched)&&password?.invalid"
                class="form-control" formControlName="password" placeholder="Enter your password">
              <i class="fas fa-eye eye-icon" *ngIf="!hiddenPassword" (click)="hidePassword()"></i>
              <i class="fas fa-eye-slash eye-icon" *ngIf="hiddenPassword" (click)="showPassword()"></i>
            </div>
            <div *ngIf="(password?.dirty ||isInvalidRegisterForm || password?.touched)&&password?.invalid">
              <small class="text-danger" *ngIf="password?.errors?.['required']">Password is required</small>
              <small class="text-danger" *ngIf="password?.errors?.['pattern']">Password length should be atleast 8 with at least one upper case, lower case, numeric and special character. </small>
            </div>

          </div>
          <div class="mb-3 col-4">
            <label class="form-label"><b><span class="text-danger">*</span> Confirm Password:</b></label>
            <div class="d-flex">
              <input [class.is-invalid]="registerFormGroup.errors?.['misMatch']" 
              [value]="hiddenConfirmPassword?replacedConfirmPassword:originalConfirmPassword"  (input)="changeConfirmPasswordInAsterisk($event)" 
              class="form-control"
                formControlName="confirmPassword" placeholder="Enter password again" style="z-index: 1;">
              <i class="fas fa-eye eye-icon" *ngIf="!hiddenConfirmPassword" (click)="hideConfirmPassword()"></i>
              <i class="fas fa-eye-slash eye-icon" *ngIf="hiddenConfirmPassword" (click)="showConfirmPassword()"></i>
            </div>
            <div class="validation">
              <small class="text-danger " *ngIf="registerFormGroup.errors?.['misMatch']">Password is not same</small>
            </div>
          </div>
          <div class="mb-3 col-4">
            <label class="form-label"><b><span class="text-danger">*</span> Date of Birth:</b></label>
            <input [class.is-invalid]="(dob?.dirty ||isInvalidRegisterForm || dob?.touched)&&dob?.invalid" [max]="changeDateFormatToCurrentDate()" type="date"
              class="form-control" formControlName="dob">
            <div *ngIf="(dob?.dirty ||isInvalidRegisterForm || dob?.touched)&&dob?.invalid">
              <small class="text-danger" *ngIf="dob?.errors?.['required']">Date of birth is required</small>

            </div>
          </div>
        </div>

        <div class="row">
          <div class="mb-3 col-6">
            <label class="form-label"><b><span class="text-danger">*</span> Address 1:</b></label>
            <input [class.is-invalid]="(address1?.dirty ||isInvalidRegisterForm || address1?.touched)&&address1?.invalid"
              type="text" class="form-control" formControlName="address1" placeholder="Enter your current address">
            <div *ngIf="(address1?.dirty ||isInvalidRegisterForm || address1?.touched)&&address1?.invalid">
              <small class="text-danger" *ngIf="address1?.errors?.['required']">Address 1 is required</small>
              <small class="text-danger" *ngIf="address1?.errors?.['pattern']">Address 1 is not valid</small>
            </div>

          </div>
          <div class="mb-3 col-6">
            <label class="form-label"><b>Address 2:</b></label>
            <input [class.is-invalid]="(address2?.dirty ||isInvalidRegisterForm || address2?.touched)&&address2?.invalid"
              type="text" class="form-control" formControlName="address2" placeholder="Enter your permanent address">
            <div *ngIf="(address2?.dirty ||isInvalidRegisterForm || address2?.touched)&&address2?.invalid">
              <small class="text-danger" *ngIf="address2?.errors?.['pattern']">Address 2 is not valid</small>
            </div>
          </div>
        </div>

        <div class="row mb-3">
          <div class="form-group col-md-3">
            <label><b><span class="text-danger">*</span> Country:</b></label>
            <select [class.is-invalid]="(country?.dirty ||isInvalidRegisterForm || country?.touched)&&country?.invalid"
              class="form-control" formControlName="country" (change)="onCountryChange($event)">
              <option value="">Choose country</option>
              <option [value]="country.name" *ngFor="let country of countries">{{country.name}}</option>
            </select>

            <div *ngIf="(country?.dirty ||isInvalidRegisterForm || country?.touched)&&country?.invalid">
              <small class="text-danger" *ngIf="country?.errors?.['required']">Country is required</small>
            </div>
          </div>


          <div class="form-group col-md-3">
            <label><b><span class="text-danger">*</span> State:</b></label>
            <select [class.is-invalid]="(state?.dirty ||isInvalidRegisterForm || state?.touched)&&state?.invalid"
              class="form-control" formControlName="state" (change)="onStateChange($event)">
              <option value="">Choose state</option>
              <option [value]='state.name' *ngFor="let state of states">{{state.name}}</option>
            </select>
            <div *ngIf="(state?.dirty ||isInvalidRegisterForm || state?.touched)&&state?.invalid">
              <small class="text-danger" *ngIf="state?.errors?.['required']">State is required</small>
            </div>
          </div>
          <div class="form-group col-md-3">
            <label><b><span class="text-danger">*</span> City:</b></label>
            <select [class.is-invalid]="(city?.dirty ||isInvalidRegisterForm || city?.touched)&&city?.invalid" class="form-control"
              formControlName="city">
              <option value="">Choose city</option>
              <option [value]="city.name" *ngFor="let city of cities">{{city.name}}</option>
            </select>
            <div *ngIf="(city?.dirty ||isInvalidRegisterForm || city?.touched)&&city?.invalid">
              <small class="text-danger" *ngIf="city?.errors?.['required']">City is required</small>
            </div>
          </div>


          <div class="form-group col-md-3">
            <label><b><span class="text-danger">*</span> Pincode:</b></label>
            <input [class.is-invalid]="(pincode?.dirty ||isInvalidRegisterForm ||pincode?.touched)&&pincode?.invalid" type="number"
              class="form-control" formControlName="pincode" placeholder="Enter your pincode">
            <div *ngIf="(pincode?.dirty ||isInvalidRegisterForm || pincode?.touched)&&pincode?.invalid">
              <small class="text-danger" *ngIf="pincode?.errors?.['required']">Pincode is required</small>
              <small class="text-danger" *ngIf="pincode?.errors?.['pattern']">Pincode is not valid</small>
            </div>
          </div>

        </div>




        <button type="submit" class="btn btn-primary">Submit</button>

      </form>

      <div class="d-flex">
        <p>Already registered?</p><a routerLink="/login">Login</a>
      </div>

        
      <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
        <div class="modal-dialog "role="document">
          <div class="modal-content">
            <div  class="card">
              <div class="card-body">


                <!-- showing the form data in the model -->

              <div class="text-center"  *ngIf="isEditable">
                <h5 *ngIf="!showUpdatedData">Please edit your data</h5>
              </div>
  
              <div  id="editInfo" *ngIf="isEditable">
                <div *ngIf="!isFullNameEditable" >
                  <hr>
                </div>
              </div>

        

                <div *ngIf="!isFullNameEditable" class="row row-data">
                   <div class="col-4">
                    <p><b>Full Name:</b><p>
                   </div>
                   <div class="col-7"><p><span>{{registerFormGroup.value.firstName+' '+ registerFormGroup.value.lastName}}</span></p></div>
                   <div class="col-1"><i *ngIf="isEditable" (click)="editFullName()" class="fa-solid fa-pencil"></i></div>
                </div>
                <div *ngIf="showUpdatedData" class="row row-data">
                   <div class="col-4">
                    <p><b>Full Name:</b><p>
                   </div>
                   <div class="col-7"><p><span>{{registerFormGroup.value.firstName+' '+ registerFormGroup.value.lastName}}</span></p></div>
                   <div class="col-1"><i *ngIf="isEditable" (click)="editFullName()" class="fa-solid fa-pencil"></i></div>
                </div>
                
              <div *ngIf="!isEditable" >
                <hr>
              </div>
                
                <div *ngIf="!isEditable">
                  <div class="row row-data">
                    <div class="col-4">
                      <p><b>Email:</b><p>
                     </div>
                     <div class="col-8"><p><span>{{registerFormGroup.value.email}}</span></p></div>
                  </div>
                    <hr>
                    <div class="row row-data">
                      <div class="col-4">
                        <p><b>Date of Birth:</b><p>
                       </div>
                       <div class="col-8"><p><span>{{registerFormGroup.value.dob |date}}</span></p></div>
                      </div>
                    <hr>
                    <div class="row row-data">
                      <div class="col-4">
                        <p><b>Adress 1:</b><p>
                       </div>
                       <div class="col-8" ><p><span>{{registerFormGroup.value.address1}}</span></p></div>
                    </div>
                    <hr>
                    <div class="row row-data">
                      <div class="col-4">
                        <p><b>Adress 2:</b><p>
                       </div>
                       <div class="col-8" ><p><span>{{registerFormGroup.value.address2}}</span></p></div>
                    </div>
                    <hr>
                    <div class="row row-data">
                      <div class="col-4">
                        <p><b>Country:</b><p>
                       </div>
                       <div class="col-8" ><p><span>{{registerFormGroup.value.country}}</span></p></div>
                    </div>
                    <hr>
                    <div class="row row-data">
                      <div class="col-4">
                        <p><b>State:</b><p>
                       </div>
                       <div class="col-8" ><p><span>{{registerFormGroup.value.state}}</span></p></div>
                    </div>
                    <hr>
                    <div class="row row-data">
                      <div class="col-4">
                        <p><b>City:</b><p>
                       </div>
                       <div class="col-8" ><p><span>{{registerFormGroup.value.city}}</span></p></div>
                    </div>
                    <hr>
                    <div class="row row-data">
                      <div class="col-4">
                        <p><b>Pincode:</b><p>
                       </div>
                       <div class="col-8" ><p><span>{{registerFormGroup.value.pincode}}</span></p></div>
                    </div>
                   
                </div>
                
                
               
                
              </div>
            </div>

            

     <!-- Editable form for email, dob,address1,address2,country,state,city and pincode  -->

            <div *ngIf="isEditable" class="card">
              <div class="card-body">
                   <form [formGroup]="editableRegisterFormGroup" (ngSubmit)="submitEditableRegisterForm()">
                      <div *ngIf="isFullNameEditable" class="mb-3 col-12">
                        <label class="form-label"><b>First Name:</b></label>
                        <input type="text"
                          [class.is-invalid]="(editableFirstName?.dirty ||isInvalidEditableRegisterForm ||editableFirstName?.touched)&&editableFirstName?.invalid"
                          class="form-control" formControlName="editableFirstName" placeholder="Enter your first name">
                        <div *ngIf="(editableFirstName?.dirty ||isInvalidEditableRegisterForm || editableFirstName?.touched)&&editableFirstName?.invalid">
                          <small class="text-danger" *ngIf="editableFirstName?.errors?.['required']">First name is required</small>
                          <small class="text-danger" *ngIf="editableFirstName?.errors?.['pattern']">First name is not valid</small>
                        </div>
                      </div>
                      <div *ngIf="isFullNameEditable" class="mb-3 col-12">
                        <label class="form-label"><b>Last Name:</b></label>
                        <input type="text"
                          [class.is-invalid]="(editableLastName?.dirty ||isInvalidEditableRegisterForm || editableLastName?.touched)&&editableLastName?.invalid"
                          class="form-control" formControlName="editableLastName" placeholder="Enter your last name">
                        <div *ngIf="(editableLastName?.dirty ||isInvalidEditableRegisterForm || editableLastName?.touched)&&editableLastName?.invalid">
                          <small class="text-danger" *ngIf="editableLastName?.errors?.['required']">Last name is required</small>
                          <small class="text-danger" *ngIf="editableLastName?.errors?.['pattern']">Last name is not valid</small>
                        </div>
                      </div>
      
                  
              

                     <div class="mb-3 col-12">
                    <label class="form-label"><b>Email:</b></label>
                    <input type="email" [class.is-invalid]="(editableEmail?.dirty ||isInvalidEditableRegisterForm || editableEmail?.touched)&&editableEmail?.invalid"
                      class="form-control" formControlName="editableEmail" placeholder="Enter your Email">
                    <div *ngIf="(editableEmail?.dirty ||isInvalidEditableRegisterForm || editableEmail?.touched)&&editableEmail?.invalid">
                      <small class="text-danger" *ngIf="editableEmail?.errors?.['required']">Email is required</small>
                      <small class="text-danger" *ngIf="editableEmail?.errors?.['pattern']">Email is not valid</small>
                    </div>
                  </div>
                   <div class="mb-3 col-12">
                    <label class="form-label"><b>Date of Birth:</b></label>
                    <input [class.is-invalid]="(editableDob?.dirty ||isInvalidEditableRegisterForm || editableDob?.touched)&&editableDob?.invalid" type="date"
                      class="form-control" formControlName="editableDob" [max]="changeDateFormatToCurrentDate()">
                    <div *ngIf="(editableDob?.dirty ||isInvalidEditableRegisterForm || editableDob?.touched)&&editableDob?.invalid">
                      <small class="text-danger" *ngIf="editableDob?.errors?.['required']">Date of birth is required</small>
        
                    </div>
                  </div>
                   <div class="mb-3 col-12">
                      <label class="form-label"><b>Address 1:</b></label>
                      <input [class.is-invalid]="(editableAddress1?.dirty ||isInvalidEditableRegisterForm || editableAddress1?.touched)&&editableAddress1?.invalid"
                        type="text" class="form-control" formControlName="editableAddress1" placeholder="Enter your current address">
                      <div *ngIf="(editableAddress1?.dirty ||isInvalidEditableRegisterForm || editableAddress1?.touched)&&editableAddress1?.invalid">
                        <small class="text-danger" *ngIf="editableAddress1?.errors?.['required']">Address 1 is required</small>
                        <small class="text-danger" *ngIf="editableAddress1?.errors?.['pattern']">Address 1 is not valid</small>
                      </div>
          
                    </div>
                    
                    <div class="mb-3 col-12">
                      <label class="form-label"><b>Address 2:</b></label>
                      <input [class.is-invalid]="(editableAddress2?.dirty ||isInvalidEditableRegisterForm || editableAddress2?.touched)&&editableAddress2?.invalid"
                        type="text" class="form-control" formControlName="editableAddress2" placeholder="Enter your permanent address">
                      <div *ngIf="(editableAddress2?.dirty ||isInvalidEditableRegisterForm || editableAddress2?.touched)&&editableAddress2?.invalid">
                        <small class="text-danger" *ngIf="editableAddress2?.errors?.['pattern']">Address 2 is not valid</small>
                      </div>
                    </div>
                  
               
        
                <div class=" row mb-3">
                  <div class="form-group col-md-6">
                    <label><b>Country:</b></label>
                    <select [class.is-invalid]="(editableCountry?.dirty ||isInvalidEditableRegisterForm || editableCountry?.touched)&&editableCountry?.invalid"
                      class="form-control" formControlName="editableCountry" (change)="onEditableCountryChange($event)">
                      <option value="">Choose country</option>
                      
                      <option [value]="country.name" *ngFor="let country of editableCountries">{{country.name}}</option>
                    </select>
        
                    <div *ngIf="(editableCountry?.dirty ||isInvalidEditableRegisterForm || editableCountry?.touched)&&editableCountry?.invalid">
                      <small class="text-danger" *ngIf="editableCountry?.errors?.['required']">Country is required</small>
                    </div>
                  </div>
        
        
                  <div class="form-group col-md-6">
                    <label><b>State:</b></label>
                    <select [class.is-invalid]="(editableState?.dirty ||isInvalidEditableRegisterForm || editableState?.touched)&&editableState?.invalid"
                      class="form-control" formControlName="editableState" (change)="onEditableStateChange($event)">
                      
                      <ng-container *ngIf="!editableStates">
                        <option [value]='registerFormGroup.value.state'>{{registerFormGroup.value.state}}</option>
                      </ng-container>
                      <option [value]='state.name' *ngFor="let state of editableStates">{{state.name}}</option>
                    </select>
                    <div *ngIf="(editableState?.dirty ||isInvalidEditableRegisterForm || editableState?.touched)&&editableState?.invalid">
                      <small class="text-danger" *ngIf="editableState?.errors?.['required']">State is required</small>
                    </div>
                  </div>
              </div>


              <div class="row mb-3">
                <div class="form-group col-md-6">
                  <label><b>City:</b></label>
                  <select [class.is-invalid]="(editableCity?.dirty ||isInvalidEditableRegisterForm || editableCity?.touched)&&editableCity?.invalid" class="form-control"
                    formControlName="editableCity">
                    <option value="">Choose city</option>
                    <ng-container *ngIf="!editableCities">
                      <option [value]='registerFormGroup.value.city'>{{registerFormGroup.value.city}}</option>
                    </ng-container>
                    <option [value]="city.name" *ngFor="let city of editableCities">{{city.name}}</option>
                  </select>

                  <div *ngIf="(editableCity?.dirty ||isInvalidEditableRegisterForm || editableCity?.touched)&&editableCity?.invalid">
                    <small class="text-danger" *ngIf="editableCity?.errors?.['required']">City is required</small>
                  </div>
                </div>
      
      
                <div class="form-group col-md-6">
                  <label><b>Pincode:</b></label>
                  <input [class.is-invalid]="(editablePincode?.dirty ||isInvalidEditableRegisterForm ||editablePincode?.touched)&&editablePincode?.invalid" type="number"
                    class="form-control" formControlName="editablePincode" placeholder="Enter your pincode">
                  <div *ngIf="(editablePincode?.dirty ||isInvalidEditableRegisterForm || editablePincode?.touched)&&editablePincode?.invalid">
                    <small class="text-danger" *ngIf="editablePincode?.errors?.['required']">Pincode is required</small>
                    <small class="text-danger" *ngIf="editablePincode?.errors?.['pattern']">Pincode is not valid</small>
                  </div>
                </div>
              </div>
        
              <button *ngIf="isEditable" type="submit" class="btn btn-success" (click)="editConfirmBtn()" id="confirm-btn">Confirm</button>
              <button *ngIf="isEditable" type="button" class="btn btn-primary" id="cancel-btn" (click)="onCloseHandled()">Cancel</button>
              </form>
              </div>
            </div>
            
            <div *ngIf="!isEditable" class="d-flex model-btn">
            
            <button *ngIf="!showUpdatedData" type="button" (click)="onConfirmRegistrationFormButton()" class="btn btn-info"  id="confirm-btn">Confirm</button>
            <button *ngIf="showUpdatedData" type="button" (click)="onconfirmEditableRegistrationForm()" class="btn btn-warning"  id="confirm-btn">Confirm</button>
            <button *ngIf="!showUpdatedData" type="button" class="btn btn-warning" (click)="editForm()" >Edit</button>
            <button  type="button" class="btn btn-danger" id="cancel-btn" (click)="onCloseHandled()">Cancel</button>
          </div>
          </div>
        </div>
      </div>



    </div>
  </div>
</div>