<div class="container">
  <h5 class="mt-5 text-muted">Register Here</h5>
  <div class="card shadow">
    <div class="card-body">

     <!-- creating a form for register -->

      <form [formGroup]="registerFormGroup" (ngSubmit)="submitRegisterForm()">
        <h6 class="text-danger"><span >*</span> Denotes required fields.</h6>

        <div class="row">
          <div class="mb-3 col-4">
            <label class="form-label"><b><span class="text-danger">*</span> First Name:</b></label>
            <input type="text" class="form-control" formControlName="firstName" placeholder="Enter your first name">
              <!-- <app-error controlName="firstName" [isInvalidRegisterForm]="isInvalidRegisterForm" error="required">First name is required.</app-error>
              <app-error controlName="firstName"  error="pattern">First name is not valid.</app-error> -->
              <app-error controlName="firstName" [conditonalError]="(registerFormGroup.controls['firstName'].touched ||registerFormGroup.controls['firstName'].dirty ||isInvalidRegisterForm) 
                && registerFormGroup.controls['firstName'].invalid"  error="required">First name is required.</app-error>
              <app-error controlName="firstName" [conditonalError]="(registerFormGroup.controls['firstName'].touched ||registerFormGroup.controls['firstName'].dirty ||isInvalidRegisterForm)
                && registerFormGroup.controls['firstName'].invalid"  error="pattern">First name is not valid.</app-error>
            </div>
          <div class="mb-3 col-4">
            <label class="form-label"><b><span class="text-danger">*</span> Last Name:</b></label>
            <input type="text" class="form-control" formControlName="lastName" placeholder="Enter your last name">
              <!-- <app-error controlName="lastName" [isInvalidRegisterForm]="isInvalidRegisterForm" error="required">Last name is required.</app-error>
              <app-error controlName="lastName"  error="pattern">Last name is not valid.</app-error> -->
              <app-error controlName="lastName" [conditonalError]="(registerFormGroup.controls['lastName'].touched ||registerFormGroup.controls['lastName'].dirty ||isInvalidRegisterForm) 
                && registerFormGroup.controls['lastName'].invalid"  error="required">Last name is required.</app-error>
              <app-error controlName="lastName" [conditonalError]="(registerFormGroup.controls['lastName'].touched ||registerFormGroup.controls['lastName'].dirty ||isInvalidRegisterForm)
                 && registerFormGroup.controls['lastName'].invalid"  error="pattern">Last name is not valid.</app-error>
          </div>

          <div class="mb-3 col-4">
            <label class="form-label"><b><span class="text-danger">*</span> Email:</b></label>
            <input type="email" class="form-control" formControlName="email" placeholder="Enter your email">
              <!-- <app-error controlName="email" [isInvalidRegisterForm]="isInvalidRegisterForm" error="required">Email is required.</app-error>
              <app-error controlName="email"  error="pattern">Email is not valid.</app-error> -->
              <app-error controlName="email" [conditonalError]="(registerFormGroup.controls['email'].touched ||registerFormGroup.controls['email'].dirty ||isInvalidRegisterForm) 
                && registerFormGroup.controls['email'].invalid"  error="required">Email is required.</app-error>
              <app-error controlName="email" [conditonalError]="(registerFormGroup.controls['email'].touched ||registerFormGroup.controls['email'].dirty ||isInvalidRegisterForm)
                 && registerFormGroup.controls['email'].invalid"  error="pattern">Email is not valid.</app-error>
          </div>

        </div>

        <div class="row">
          <div class="mb-3 col-4">
            <label class="form-label"><b><span class="text-danger">*</span> Password:</b></label>
            <div class="d-flex">
              <input [value]="hiddenPassword?replacedPassword:originalPassword"  (input)="changePasswordInAsterisk($event)"
               class="form-control" formControlName="password" placeholder="Enter your password">
              <i class="fas fa-eye eye-icon" *ngIf="!hiddenPassword" (click)="hidePassword()"></i>
              <i class="fas fa-eye-slash eye-icon" *ngIf="hiddenPassword" (click)="showPassword()"></i>
            </div>
              <!-- <app-error controlName="password" [isInvalidRegisterForm]="isInvalidRegisterForm" error="required">Password is required</app-error>
              <app-error controlName="password"  error="pattern">Password length should be atleast 8 with at least one upper case, lower case, numeric and special character.</app-error> -->
              <app-error controlName="password" [conditonalError]="(registerFormGroup.controls['password'].touched ||registerFormGroup.controls['password'].dirty ||isInvalidRegisterForm) 
                && registerFormGroup.controls['password'].invalid"  error="required">Password is required.</app-error>
              <app-error controlName="password" [conditonalError]="(registerFormGroup.controls['password'].touched ||registerFormGroup.controls['password'].dirty ||isInvalidRegisterForm)
                 && registerFormGroup.controls['password'].invalid"  
                 error="pattern">Password length should be atleast 8 with at least one upper case, lower case, numeric and special character..</app-error>

          </div>
          <div class="mb-3 col-4">
            <label class="form-label"><b><span class="text-danger">*</span> Confirm Password:</b></label>
            <div class="d-flex">
              <input [class.is-invalid]="registerFormGroup.errors?.['misMatch']" 
              [value]="hiddenConfirmPassword?replacedConfirmPassword:originalConfirmPassword"  (input)="changeConfirmPasswordInAsterisk($event)" 
              class="form-control"
                formControlName="confirmPassword" placeholder="Enter password again" style="z-index: 1;">
              <i class="fas fa-eye eye-icon" *ngIf="!hiddenConfirmPassword" (click)="hideConfirmPassword()"></i>
              <i class="fas fa-eye-slash eye-icon" *ngIf="hiddenConfirmPassword" (click)="showConfirmPassword()"></i>
            </div>
            <div>
              <small class="text-danger " *ngIf="registerFormGroup.errors?.['misMatch']">Password is not same</small>
            </div>
          </div>
          <div class="mb-3 col-4">
            <label class="form-label"><b><span class="text-danger">*</span> Date of Birth:</b></label>
            <input  [max]="changeDateFormatToCurrentDate()" type="date" class="form-control" formControlName="dob">
            
            <!-- <app-error controlName="dob" [isInvalidRegisterForm]="isInvalidRegisterForm" error="required">Date of birth is required</app-error> -->
            <app-error controlName="dob" [conditonalError]="(registerFormGroup.controls['dob'].touched ||registerFormGroup.controls['dob'].dirty ||isInvalidRegisterForm) 
                && registerFormGroup.controls['dob'].invalid"  error="required">Date of birth is required.</app-error>
            
          </div>
        </div>

        <div class="row">
          <div class="mb-3 col-6">
            <label class="form-label"><b><span class="text-danger">*</span> Address 1:</b></label>
            <input type="text" class="form-control" formControlName="address1" placeholder="Enter your current address">
        
              <!-- <app-error controlName="address1" [isInvalidRegisterForm]="isInvalidRegisterForm" error="required">Address 1 is required.</app-error>
              <app-error controlName="address1"  error="pattern">Address 1 is not valid.</app-error> -->
              <app-error controlName="address1" [conditonalError]="(registerFormGroup.controls['address1'].touched ||registerFormGroup.controls['address1'].dirty ||isInvalidRegisterForm) 
                && registerFormGroup.controls['address1'].invalid"  error="required">Address 1 is required.</app-error>
              <app-error controlName="address1" [conditonalError]="(registerFormGroup.controls['address1'].touched ||registerFormGroup.controls['address1'].dirty ||isInvalidRegisterForm)
                 && registerFormGroup.controls['address1'].invalid"  error="pattern">Address 1 is not valid.</app-error>

          </div>
          <div class="mb-3 col-6">
            <label class="form-label"><b>Address 2:</b></label>
            <input 
              type="text" class="form-control" formControlName="address2" placeholder="Enter your permanent address">
              <!-- <app-error controlName="address2"  error="pattern">Address 2 is not valid.</app-error> -->
              <app-error controlName="address2" [conditonalError]="(registerFormGroup.controls['address2'].touched ||registerFormGroup.controls['address2'].dirty ||isInvalidRegisterForm)
              && registerFormGroup.controls['address2'].invalid"  error="pattern">Address 2 is not valid.</app-error>
          </div>
        </div>

        <div class="row mb-3">
          <div class="form-group col-md-3">
            <label><b><span class="text-danger">*</span> Country:</b></label>
            <select
              class="form-control" formControlName="country" (change)="onCountryChange($event)">
              <option value="">Choose country</option>
              <option [value]="country.name" *ngFor="let country of countries">{{country.name}}</option>
            </select>
            <!-- <app-error controlName="country" [isInvalidRegisterForm]="isInvalidRegisterForm" error="required">Country is required.</app-error> -->
            <app-error controlName="country" [conditonalError]="(registerFormGroup.controls['country'].touched ||registerFormGroup.controls['country'].dirty ||isInvalidRegisterForm) 
                && registerFormGroup.controls['country'].invalid"  error="required">Country name is required.</app-error>
          </div>


          <div class="form-group col-md-3">
            <label><b><span class="text-danger">*</span> State:</b></label>
            <select class="form-control" formControlName="state" (change)="onStateChange($event)">
              <option value="">Choose state</option>
              <option [value]='state.name' *ngFor="let state of states">{{state.name}}</option>
            </select>
            <!-- <app-error controlName="state" [isInvalidRegisterForm]="isInvalidRegisterForm" error="required">State is required.</app-error> -->
            <app-error controlName="state" [conditonalError]="(registerFormGroup.controls['state'].touched ||registerFormGroup.controls['state'].dirty ||isInvalidRegisterForm) 
                && registerFormGroup.controls['state'].invalid"  error="required">State name is required.</app-error>

          </div>
          <div class="form-group col-md-3">
            <label><b><span class="text-danger">*</span> City:</b></label>
            <select class="form-control" formControlName="city">
              <option value="">Choose city</option>
              <option [value]="city.name" *ngFor="let city of cities">{{city.name}}</option>
            </select>
            <!-- <app-error controlName="city" [isInvalidRegisterForm]="isInvalidRegisterForm" error="required">City is required.</app-error> -->
            <app-error controlName="city" [conditonalError]="(registerFormGroup.controls['city'].touched ||registerFormGroup.controls['city'].dirty ||isInvalidRegisterForm) 
                && registerFormGroup.controls['city'].invalid"  error="required">City name is required.</app-error>

          </div>


          <div class="form-group col-md-3">
            <label><b><span class="text-danger">*</span> Pincode:</b></label>
            <input type="number" class="form-control" formControlName="pincode" placeholder="Enter your pincode">
              <!-- <app-error controlName="pincode" [isInvalidRegisterForm]="isInvalidRegisterForm" error="required">Pincode is required.</app-error>
              <app-error controlName="pincode"  error="pattern">Pincode length should be 6 without containing 0,1,2,3 at first position.</app-error> -->
              <app-error controlName="pincode" [conditonalError]="(registerFormGroup.controls['pincode'].touched ||registerFormGroup.controls['pincode'].dirty ||isInvalidRegisterForm) 
                && registerFormGroup.controls['pincode'].invalid"  error="required">Pincode is required.</app-error>
              <app-error controlName="pincode" [conditonalError]="(registerFormGroup.controls['pincode'].touched ||registerFormGroup.controls['pincode'].dirty ||isInvalidRegisterForm)
                && registerFormGroup.controls['pincode'].invalid"  error="pattern">Pincode length should be 6 without containing 0,1,2,3 at first position.</app-error>
          </div>

        </div>




        <button type="submit" class="btn btn-primary">Submit</button>

      </form>

      <div class="d-flex">
        <p>Already registered?</p><a routerLink="/login">Login</a>
      </div>

        
      <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
        <div class="modal-dialog "role="document">
          <div class="modal-content">
            <div  class="card">
              <div class="card-body">


                <!-- showing the form data in the model -->

              <div class="text-center"  *ngIf="isEditable">
                <h5 *ngIf="!showUpdatedData">Please edit your data</h5>
              </div>
  
              <div  id="editInfo" *ngIf="isEditable">
                <div *ngIf="!isFullNameEditable" >
                  <hr>
                </div>
              </div>

        

                <div *ngIf="!isFullNameEditable" class="row row-data">
                   <div class="col-4">
                    <p><b>Full Name:</b><p>
                   </div>
                   <div class="col-7"><p><span>{{registerFormGroup.value.firstName+' '+ registerFormGroup.value.lastName}}</span></p></div>
                   <div class="col-1"><i *ngIf="isEditable" (click)="editFullName()" class="fa-solid fa-pencil"></i></div>
                </div>
                <div *ngIf="showUpdatedData" class="row row-data">
                   <div class="col-4">
                    <p><b>Full Name:</b><p>
                   </div>
                   <div class="col-7"><p><span>{{registerFormGroup.value.firstName+' '+ registerFormGroup.value.lastName}}</span></p></div>
                   <div class="col-1"><i *ngIf="isEditable" (click)="editFullName()" class="fa-solid fa-pencil"></i></div>
                </div>
                
              <div *ngIf="!isEditable" >
                <hr>
              </div>
                
                <div *ngIf="!isEditable">
                  <div class="row row-data">
                    <div class="col-4">
                      <p><b>Email:</b><p>
                     </div>
                     <div class="col-8"><p><span>{{registerFormGroup.value.email}}</span></p></div>
                  </div>
                    <hr>
                    <div class="row row-data">
                      <div class="col-4">
                        <p><b>Date of Birth:</b><p>
                       </div>
                       <div class="col-8"><p><span>{{registerFormGroup.value.dob |date}}</span></p></div>
                      </div>
                    <hr>
                    <div class="row row-data">
                      <div class="col-4">
                        <p><b>Adress 1:</b><p>
                       </div>
                       <div class="col-8" ><p><span>{{registerFormGroup.value.address1}}</span></p></div>
                    </div>
                    <hr>
                    <div class="row row-data">
                      <div class="col-4">
                        <p><b>Adress 2:</b><p>
                       </div>
                       <div class="col-8" ><p><span>{{registerFormGroup.value.address2}}</span></p></div>
                    </div>
                    <hr>
                    <div class="row row-data">
                      <div class="col-4">
                        <p><b>Country:</b><p>
                       </div>
                       <div class="col-8" ><p><span>{{registerFormGroup.value.country}}</span></p></div>
                    </div>
                    <hr>
                    <div class="row row-data">
                      <div class="col-4">
                        <p><b>State:</b><p>
                       </div>
                       <div class="col-8" ><p><span>{{registerFormGroup.value.state}}</span></p></div>
                    </div>
                    <hr>
                    <div class="row row-data">
                      <div class="col-4">
                        <p><b>City:</b><p>
                       </div>
                       <div class="col-8" ><p><span>{{registerFormGroup.value.city}}</span></p></div>
                    </div>
                    <hr>
                    <div class="row row-data">
                      <div class="col-4">
                        <p><b>Pincode:</b><p>
                       </div>
                       <div class="col-8" ><p><span>{{registerFormGroup.value.pincode}}</span></p></div>
                    </div>
                   
                </div>
                
                
               
                
              </div>
            </div>

            

     <!-- Editable form for email, dob,address1,address2,country,state,city and pincode  -->

            <div *ngIf="isEditable" class="card">
              <div class="card-body">
                   <form [formGroup]="editableRegisterFormGroup" (ngSubmit)="submitEditableRegisterForm()">
                      <div *ngIf="isFullNameEditable" class="mb-3 col-12">
                        <label class="form-label"><b>First Name:</b></label>
                        <input type="text" class="form-control" formControlName="editableFirstName" placeholder="Enter your first name">

                        <app-error controlName="editableFirstName" [conditonalError]="(editableRegisterFormGroup.controls['editableFirstName'].touched ||editableRegisterFormGroup.controls['editableFirstName'].dirty ||isInvalidEditableRegisterForm) 
                        && editableRegisterFormGroup.controls['editableFirstName'].invalid"  error="required">First name is required.</app-error>
                      <app-error controlName="editableFirstName" [conditonalError]="(editableRegisterFormGroup.controls['editableFirstName'].touched ||editableRegisterFormGroup.controls['editableFirstName'].dirty ||isInvalidEditableRegisterForm)
                        && editableRegisterFormGroup.controls['editableFirstName'].invalid"  error="pattern">First name is not valid.</app-error>

                      </div>

                      <div *ngIf="isFullNameEditable" class="mb-3 col-12">
                        <label class="form-label"><b>Last Name:</b></label>
                        <input type="text" class="form-control" formControlName="editableLastName" placeholder="Enter your last name">
                        <app-error controlName="editableLastName" [conditonalError]="(editableRegisterFormGroup.controls['editableLastName'].touched ||editableRegisterFormGroup.controls['editableLastName'].dirty ||isInvalidEditableRegisterForm) 
                        && editableRegisterFormGroup.controls['editableLastName'].invalid"  error="required">Last name is required.</app-error>
                      <app-error controlName="editableLastName" [conditonalError]="(editableRegisterFormGroup.controls['editableLastName'].touched ||editableRegisterFormGroup.controls['editableLastName'].dirty ||isInvalidEditableRegisterForm)
                        && editableRegisterFormGroup.controls['editableLastName'].invalid"  error="pattern">Last name is not valid.</app-error>
                      </div>
      
                  
              

                     <div class="mb-3 col-12">
                    <label class="form-label"><b>Email:</b></label>
                    <input type="email" class="form-control" formControlName="editableEmail" placeholder="Enter your Email">
                
                    <app-error controlName="editableEmail" [conditonalError]="(editableRegisterFormGroup.controls['editableEmail'].touched ||editableRegisterFormGroup.controls['editableEmail'].dirty ||isInvalidEditableRegisterForm) 
                    && editableRegisterFormGroup.controls['editableEmail'].invalid"  error="required">Email is required.</app-error>
                  <app-error controlName="editableEmail" [conditonalError]="(editableRegisterFormGroup.controls['editableEmail'].touched ||editableRegisterFormGroup.controls['editableEmail'].dirty ||isInvalidEditableRegisterForm)
                    && editableRegisterFormGroup.controls['editableEmail'].invalid"  error="pattern">Email is not valid.</app-error>

                  </div>

                   <div class="mb-3 col-12">
                    <label class="form-label"><b>Date of Birth:</b></label>
                    <input  type="date" class="form-control" formControlName="editableDob" [max]="changeDateFormatToCurrentDate()">
                    <app-error controlName="editableDob" [conditonalError]="(editableRegisterFormGroup.controls['editableDob'].touched ||editableRegisterFormGroup.controls['editableDob'].dirty ||isInvalidEditableRegisterForm) 
                    && editableRegisterFormGroup.controls['editableDob'].invalid"  error="required">Date of Birth is required.</app-error>
                  </div>

                   <div class="mb-3 col-12">
                      <label class="form-label"><b>Address 1:</b></label>
                      <input type="text" class="form-control" formControlName="editableAddress1" placeholder="Enter your current address">
                    
                      <app-error controlName="editableAddress1" [conditonalError]="(editableRegisterFormGroup.controls['editableAddress1'].touched ||editableRegisterFormGroup.controls['editableAddress1'].dirty ||isInvalidEditableRegisterForm) 
                      && editableRegisterFormGroup.controls['editableAddress1'].invalid"  error="required">Address1 is required.</app-error>
                    <app-error controlName="editableAddress1" [conditonalError]="(editableRegisterFormGroup.controls['editableAddress1'].touched ||editableRegisterFormGroup.controls['editableAddress1'].dirty ||isInvalidEditableRegisterForm)
                      && editableRegisterFormGroup.controls['editableAddress1'].invalid"  error="pattern">Address 1 is not valid.</app-error>
          
                    </div>
                    
                    <div class="mb-3 col-12">
                      <label class="form-label"><b>Address 2:</b></label>
                      <input type="text" class="form-control" formControlName="editableAddress2" placeholder="Enter your permanent address">
                      <app-error controlName="editableAddress2" [conditonalError]="(editableRegisterFormGroup.controls['editableAddress2'].touched ||editableRegisterFormGroup.controls['editableAddress2'].dirty ||isInvalidEditableRegisterForm)
                      && editableRegisterFormGroup.controls['editableAddress2'].invalid"  error="pattern">Address 2 is not valid.</app-error>
                    </div>
                  
               
        
                <div class=" row mb-3">
                  <div class="form-group col-md-6">
                    <label><b>Country:</b></label>
                    <select  class="form-control" formControlName="editableCountry" (change)="onEditableCountryChange($event)">
                      <option value="">Choose country</option>
                      <option [value]="country.name" *ngFor="let country of editableCountries">{{country.name}}</option>
                    </select>
                    <app-error controlName="editableCountry" [conditonalError]="(editableRegisterFormGroup.controls['editableCountry'].touched ||editableRegisterFormGroup.controls['editableCountry'].dirty ||isInvalidEditableRegisterForm) 
                      && editableRegisterFormGroup.controls['editableCountry'].invalid"  error="required">Country name is required.</app-error>
                  </div>
        
        
                  <div class="form-group col-md-6">
                    <label><b>State:</b></label>
                    <select  class="form-control" formControlName="editableState" (change)="onEditableStateChange($event)">
                      <option value="">Choose State</option>
                      <ng-container *ngIf="!editableStates">
                        <option [value]='registerFormGroup.value.state'>{{registerFormGroup.value.state}}</option>
                      </ng-container>
                      <option [value]='state.name' *ngFor="let state of editableStates">{{state.name}}</option>
                    </select>
                    <app-error controlName="editableState" [conditonalError]="(editableRegisterFormGroup.controls['editableState'].touched ||editableRegisterFormGroup.controls['editableState'].dirty ||isInvalidEditableRegisterForm) 
                      && editableRegisterFormGroup.controls['editableState'].invalid"  error="required">State name is required.</app-error>
                  </div>
              </div>


              <div class="row mb-3">
                <div class="form-group col-md-6">
                  <label><b>City:</b></label>
                  <select class="form-control" formControlName="editableCity">
                    <option value="">Choose city</option>
                    <ng-container *ngIf="!editableCities">
                      <option [value]='registerFormGroup.value.city'>{{registerFormGroup.value.city}}</option>
                    </ng-container>
                    <option [value]="city.name" *ngFor="let city of editableCities">{{city.name}}</option>
                  </select>
                  <app-error controlName="editableCity" [conditonalError]="(editableRegisterFormGroup.controls['editableCity'].touched ||editableRegisterFormGroup.controls['editableCity'].dirty ||isInvalidEditableRegisterForm) 
                  && editableRegisterFormGroup.controls['editableCity'].invalid"  error="required">City name is required.</app-error>
                </div>
      
      
                <div class="form-group col-md-6">
                  <label><b>Pincode:</b></label>
                  <input  type="number" class="form-control" formControlName="editablePincode" placeholder="Enter your pincode">
                  <app-error controlName="editablePincode" [conditonalError]="(editableRegisterFormGroup.controls['editablePincode'].touched ||editableRegisterFormGroup.controls['editablePincode'].dirty ||isInvalidEditableRegisterForm) 
                    && editableRegisterFormGroup.controls['editablePincode'].invalid"  error="required">Pincode is required.</app-error>
                  <app-error controlName="editablePincode" [conditonalError]="(editableRegisterFormGroup.controls['editablePincode'].touched ||editableRegisterFormGroup.controls['editablePincode'].dirty ||isInvalidEditableRegisterForm)
                    && editableRegisterFormGroup.controls['editablePincode'].invalid"  error="pattern">Pincode length should be 6 without containing 0,1,2,3 at first position.</app-error>
                </div>
              </div>
        
              <button *ngIf="isEditable" type="submit" class="btn btn-success" id="confirm-btn">Confirm</button>
              <button *ngIf="isEditable" type="button" class="btn btn-primary" id="cancel-btn" (click)="onCloseHandled()">Cancel</button>
              </form>
              </div>
            </div>
            
            <div *ngIf="!isEditable" class="d-flex model-btn">
            
            <button *ngIf="!showUpdatedData" type="button" (click)="onConfirmRegistrationFormButton()" class="btn btn-info"  id="confirm-btn">Confirm</button>
            <button *ngIf="showUpdatedData" type="button" (click)="onconfirmEditableRegistrationForm()" class="btn btn-warning"  id="confirm-btn">Confirm</button>
            <button *ngIf="!showUpdatedData" type="button" class="btn btn-warning" (click)="editForm()" >Edit</button>
            <button  type="button" class="btn btn-danger" id="cancel-btn" (click)="onCloseHandled()">Cancel</button>
          </div>
          </div>
        </div>
      </div>



    </div>
  </div>
</div>