<div class="container mt-5" [ngStyle]="{color:color}">
    <div class="card shadow">
        <div class="card-body">
            <h1>tap operator is used to perform operations(Log, data emittion in subject, etc) without affecting(no side effect) original response</h1>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-6">
            <strong>Ex- 01</strong>
            <hr>
            <ul id="elContainer1"></ul>
        </div>
        <div class="col-md-6">
            <strong>Ex- 02</strong>
            <hr>
            <ul id="elContainer2"></ul>
        </div>
    </div>
</div>
