label{

  font-weight: bold;
}
.form-control:focus {

  border-color: #BDBDC0;
  -webkit-box-shadow: none;
   box-shadow: none;

}
.invalid-lable{
  color:red;
}

.form-control.is-invalid{
  background-image: url("https://cdn-icons-png.flaticon.com/512/1828/1828613.png");

}

h1{
  margin-left: 350px;
}
