<div class="container mt-2">
  <h1 style="font-weight: bold; color: blueviolet;">Hello user! this is reactive form</h1>
</div>

<div class="container" >
  <form class="row g-3" [formGroup]="userForm" (ngSubmit)="reactiveFormSubmit()">
    <div >
      <label class="form-label" [ngClass]="{ 'invalid-lable': name?.invalid && invalidField  }" >Name <span style="color: red;">*</span></label>
      <input type="text" [class.is-invalid]=" invalidField && name?.invalid" formControlName="name" class="form-control" placeholder="Enter Name">
      <div *ngIf="invalidField && name?.invalid">
        <small class="text-danger" *ngIf="name?.errors?.['required']">Please inform your name</small>
        <small class="text-danger" *ngIf="name?.errors?.['minlength']">Name length should be more than 4</small>
        <small class="text-danger" *ngIf="name?.errors?.['pattern']">Name is invalid </small>
      </div>

    </div>

    <div >

      <label class="form-label" [ngClass]="{ 'invalid-lable': email?.invalid && invalidField }">Email <span style="color: red;">*</span></label>
      <input  type="email" [class.is-invalid]="email?.invalid && invalidField" formControlName="email" class="form-control" placeholder="Enter Email">
      <div *ngIf="invalidField && email?.invalid">
        <small class="text-danger" *ngIf="email?.errors?.['required']">Please inform your email</small>
        <small class="text-danger" *ngIf="email?.errors?.['pattern']">Email is invalid </small>
      </div>
    </div>

    <div class="col-md-6">
      <label class="form-label" [ngClass]="{ 'invalid-lable': address?.invalid && invalidField }">Address <span style="color: red;">*</span></label>
      <input type="text" [class.is-invalid]="address?.invalid && invalidField"  class="form-control" formControlName="address"   placeholder="Enter Current Address">
      <div *ngIf="address?.invalid && invalidField">
        <small class="text-danger" *ngIf="address?.errors?.['required']">Please inform your address</small>
        <small class="text-danger" *ngIf="address?.errors?.['pattern']">Address is invalid </small>
      </div>
    </div>
    <div class="col-md-3">
      <label  class="form-label">Address 2</label>
      <input type="text" class="form-control" formControlName="address2" placeholder="Enter Permanent Address">
    </div>
    <div class="col-md-3">
      <label class="form-label" [ngClass]="{ 'invalid-lable': zipCode?.invalid && invalidField }">Zip Code <span style="color: red;">*</span></label>
      <input type="number" [class.is-invalid]="zipCode?.invalid&& invalidField" class="form-control" formControlName="zipCode"  placeholder="Enter Zipcode">
      <div *ngIf="zipCode?.invalid && invalidField">
        <small class="text-danger" *ngIf="zipCode?.errors?.['required']">Please inform your zipCode</small>
        <small class="text-danger" *ngIf="zipCode?.errors?.['pattern']">Zipcode is invalid </small>
      </div>
    </div>
    <div class="col-md-4">
      <label class="form-label" [ngClass]="{ 'invalid-lable': city?.invalid && invalidField }">City <span style="color: red;">*</span></label>
      <input type="text" [class.is-invalid]="city?.invalid&& invalidField" class="form-control" formControlName="city" placeholder="Enter City">
      <div *ngIf="city?.invalid && invalidField">
        <small class="text-danger" *ngIf="city?.errors?.['required']">Please inform your city</small>
        <small class="text-danger" *ngIf="city?.errors?.['pattern']">City is invalid </small>
      </div>
    </div>
    <div class="col-md-4">
      <label class="form-label" [ngClass]="{ 'invalid-lable': state?.invalid && invalidField }">State <span style="color: red;">*</span></label>
      <input type="text" [class.is-invalid]="state?.invalid&& invalidField" class="form-control" formControlName="state" placeholder="Enter State">
      <div *ngIf="state?.invalid && invalidField">
        <small class="text-danger" *ngIf="state?.errors?.['required']">Please inform your state</small>
        <small class="text-danger" *ngIf="state?.errors?.['pattern']">state is invalid </small>
      </div>
    </div>

    <div class="col-md-4">
      <label class="form-label" [ngClass]="{ 'invalid-lable': country?.invalid && invalidField }">Country <span style="color: red;">*</span></label>
      <input type="text" [class.is-invalid]="country?.invalid&& invalidField" class="form-control" formControlName="country"  placeholder="Enter Country">
      <div *ngIf="country?.invalid && invalidField">
        <small class="text-danger" *ngIf="country?.errors?.['required']">Please inform your country</small>
        <small class="text-danger" *ngIf="country?.errors?.['pattern']">Country is invalid </small>
      </div>
    </div>

    <div class="col-12">
      <button type="submit" class="btn btn-primary" (click)="openSnackBar()" >Submit</button>
      <button type="reset" class="btn btn-secondary" style="margin-left: 10px;">Reset</button>
    </div>
  </form>
</div>




