

<nav class="navbar navbar-expand-lg ">

 <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" >Home /<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" >User /<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link">User Profile <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>

</nav>


<div class="row">

  <div class="card" id="card1">
    <div class="card-body1">
     <img src="assets/img_avatar.png" alt="Avatar">
     <h3 class="ml-4">John Doe</h3>
     <p class="title ml-2">Full Stack Developer</p>
     <p class="title ">Bay Area, San Francisco, CA</p>
     <button class="btn btn-primary">Follow</button>
     <button class="btn btn-light" style="color:#03A9F4;border: 1px solid;">Message</button>
   </div>
 </div>




<div class="card" id="card2">
  <div class="card-body ">
   <b>Full Name</b><span id="full-name">Kenneth Valdez</span>
    <hr>
   <b>Email</b><span id="email">fip@jukmun.al</span>
    <hr>
   <b>Phone</b><span id="phone">(239) 816-9029</span>
    <hr>
   <b>Mobile</b><span id="mobile">(320) 380-4539</span>
    <hr>
   <b>Address</b><span id="address">Bay Area, San Francisco, CA</span>
  </div>
 </div>

</div>

<div class="row">

  <div class="card" id="card3">
    <div class="card-body ">
      <i class="bi bi-globe "></i><b><span class="ml-2">Website</span></b><span id="web">bootdey.com</span>
       <hr>
       <i class="bi bi-github"></i><b><span class="ml-2">Github</span></b><span id="github">bootdey</span>
       <hr>
       <i class="bi bi-twitter"></i><b><span class="ml-2">Twitter</span></b><span id="twitter">@bootdey</span>
       <hr>
       <i class="bi bi-instagram"></i><b><span class="ml-2">Instagram</span></b><span id="instagram">bootdey</span>
       <hr>
       <i class="bi bi-facebook"></i><b><span class="ml-2">Facebook</span></b><span id="facebook">bootdey</span>
    </div>
  </div>

  <div class="card" id="card4">
    <div class="card-body">
         <h5><i class="mr-2"style="color:#40c4ff">assignment</i>Project Status</h5>
         <div>
          Web Design
          <div><progress style="width: 100%;" value="75" max="100"></progress></div>
         </div>
         <div>
          Website Markup
          <div><progress style="width: 100%;" value="70" max="100"></progress></div>
         </div>

         <div>
          One Page
          <div><progress style="width: 100%;" value="80" max="100"></progress></div>
         </div>

         <div>
          Mobile Template
          <div><progress style="width: 100%;" value="50" max="100"></progress></div>
         </div>

         <div>
          Backend API
          <div><progress style="width: 100%;" value="60" max="100"></progress></div>
         </div>
    </div>
  </div>

  <div class="card" id="card5">
    <div class="card-body">
         <h5><i class="mr-2"style="color:#40c4ff">assignment</i>Project Status</h5>
         <div>
          Web Design
          <div><progress style="width: 100%;" value="75" max="100"></progress></div>
         </div>
         <div>
          Website Markup
          <div><progress style="width: 100%;" value="70" max="100"></progress></div>
         </div>

         <div>
          One Page
          <div><progress style="width: 100%;" value="80" max="100"></progress></div>
         </div>

         <div>
          Mobile Template
          <div><progress style="width: 100%;" value="50" max="100"></progress></div>
         </div>

         <div>
          Backend API
          <div><progress style="width: 100%;" value="60" max="100"></progress></div>
         </div>
    </div>
  </div>


</div>




