<div class="card">
  <div class="card-body ">


    <div class="social-media-data">
      <div class="flex-one">
        <i class="bi bi-globe"></i>
        <b class="ml-1">Website</b>
      </div>
      <div class="flex-two">{{socialMediaPage[0].socialMediaValue}}</div>
    </div>
    <hr>

    <div class="social-media-data">
      <div class="flex-one">
        <i class="bi bi-github"></i>
        <b class="ml-1">Github</b>
      </div>
      <div class="flex-two">{{socialMediaPage[1].socialMediaValue}}</div>
    </div>
    <hr>

    <div class="social-media-data">
      <div class="flex-one">
        <i class="bi bi-twitter"></i>
        <b class="ml-1">Twitter</b>
      </div>
      <div class="flex-two">{{socialMediaPage[2].socialMediaValue}}</div>
    </div>
    <hr>

    <div class="social-media-data">
      <div class="flex-one">
        <i class="bi bi-instagram"></i>
        <b class="ml-1">Instagram</b>
      </div>
      <div class="flex-two">{{socialMediaPage[3].socialMediaValue}}</div>
    </div>
    <hr>

    <div class="social-media-data">
      <div class="flex-one">
        <i class="bi bi-facebook"></i>
        <b class="ml-1">Facebook</b>
      </div>
      <div class="flex-two">{{socialMediaPage[4].socialMediaValue}}</div>
    </div>


     <!-- <i class="bi bi-github"></i><b><span class="ml-2">Github</span></b><span class="social-media-value">bootdey</span>
     <hr>
     <i class="bi bi-twitter"></i><b><span class="ml-2">Twitter</span></b><span class="social-media-value">@bootdey</span>
     <hr>
     <i class="bi bi-instagram"></i><b><span class="ml-2">Instagram</span></b><span class="social-media-value">bootdey</span>
     <hr>
     <i class="bi bi-facebook"></i><b><span class="ml-2">Facebook</span></b><span class="social-media-value">bootdey</span> -->
  </div>

</div>
