.card{
  width:90m;
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height: 18rem;

}
.social-media-data{
   display: flex;
   justify-content:space-between;


}
.flex-one{
  flex: 1;
}
.flex-two{
  flex: 1;
}

