<div class="card">
  <div class="card-body ">
    <i class="bi bi-globe "></i><b><span class="ml-2">Website</span></b><span  class="social-media-value">bootdey.com</span>
     <hr>
     <i class="bi bi-github"></i><b><span class="ml-2">Github</span></b><span class="social-media-value">bootdey</span>
     <hr>
     <i class="bi bi-twitter"></i><b><span class="ml-2">Twitter</span></b><span class="social-media-value">@bootdey</span>
     <hr>
     <i class="bi bi-instagram"></i><b><span class="ml-2">Instagram</span></b><span class="social-media-value">bootdey</span>
     <hr>
     <i class="bi bi-facebook"></i><b><span class="ml-2">Facebook</span></b><span class="social-media-value">bootdey</span>
  </div>
</div>
