<div class="container mt-5">
    <div class="card shadow">
        <div class="card-body">
            <h1 class="text-primary">Map operator is used to tranform the data</h1>
            <h1 class="text-primary">Map operator will take Observable stream then will tranform in new Observable steam
                according to your logic</h1>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-header">
                    Observable Stream
                </div>
                <div class="card-body">
                    <ul id="elContainer1" class="elContainer tech-list complete"></ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-header">
                    Transformed Stream
                </div>
                <div class="card-body">
                    <ul id="elContainer2" class="elContainer tech-list error"></ul>
                </div>
            </div>
        </div>
    </div>
</div>