<mat-sidenav-container class="sidenav-container">
  <mat-sidenav style="background-color: rgb(0, 81, 255)" #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar style="color: white; background-color: blueviolet">Menu</mat-toolbar>
    <mat-nav-list >
      <a mat-list-item style="color: white;" routerLink="/signup">SignUp</a>
      <a mat-list-item style="color: white;" routerLink="/login" >Login</a>
      <a mat-list-item style="color: white;" routerLink="/dashboard">Dashboard</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <button mat-raised-button color="primary">My App</button >
      <button mat-raised-button color="primary" style="margin-left:5px;" (click)="table()">Table</button >
      <button mat-raised-button color="primary" style="margin-left:5px;" (click)="tree()">Tree</button >
      <button mat-raised-button color="primary" style="margin-left:5px;" (click)="dragAndDrop()">Drag and Drop</button >
      <button mat-raised-button color="primary" style="margin-left:5px;" (click)="address()">Address</button >
      <button mat-raised-button color="primary" style="margin-left:5px;" (click)="dashboard()">Dashboard</button >
      <button mat-raised-button color="primary" style="margin-left: auto;">Mithilesh Shah</button >
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
