<div class="container mt-5">
    <div class="card shadow">
        <div class="card-body">
            <h1 class="text-primary">Pluck operator is the shorthand of map operator</h1>
            <h1 class="text-primary">Pluck operator is used to extract value of key in the object(observable streams).</h1>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-header">
                    Name
                </div>
                <div class="card-body">
                    <ul id="elContainer3" class="elContainer tech-list complete"></ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-header">
                    Nested object Data
                </div>
                <div class="card-body">
                    <ul id="elContainer4" class="elContainer tech-list error"></ul>
                </div>
            </div>
        </div>
    </div>
</div>