<!DOCTYPE html>
<html lang="en">

<head>
  <title>Form Page...</title>
</head>

<body>
  <h1><b>This is Registration Form, Kindly Register!!</b></h1>
  <div class="container text-center">
    <form>
      <div class="mb-3" class>
        <label class="form-label"><b>First Name</b></label>
        <input type="text" class="form-control" placeholder="Enter your first name" required>
         <br>
        <label class="form-label">Last Name</label>
        <input type="text" class="form-control" placeholder="Enter your last name" required>
       <br>
        <label class="form-label">College Name</label>
        <input type="text" class="form-control" placeholder="Enter your College name" required>
        <br>
        <label class="form-label">Email</label>
        <input type="email" class="form-control" placeholder="Enter your email" required>
        
      </div>
      <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" class="form-control"  placeholder="Enter your password" required>
      </div>
      
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>


  </div>

</body>

</html>