

<div class="classes">

<app-class-data [classSubject]="ninethClassSubjectData"   [classStandard]="classStandardData[0]"></app-class-data>
<app-class-data [classSubject]="tenthClassSubjectData"    [classStandard]="classStandardData[1]"></app-class-data>
<app-class-data [classSubject]="eleventhClassSubjectData" [classStandard]="classStandardData[2]"></app-class-data>
<app-class-data [classSubject]="twelvethClassSubjectData" [classStandard]="classStandardData[3]"></app-class-data>

</div>

<div>
  <app-multi-level-dropdown
   [classStandard]="classStandardData"
   [classSubject9]="ninethClassSubjectData"
   [classSubject10]="tenthClassSubjectData"
   [classSubject11]="eleventhClassSubjectData"
   [classSubject12]="twelvethClassSubjectData"
   [noOfNinethClassIndexZeroStudents1]="noOfNinethClassIndexZeroStudents"
   [noOfNinethClassIndexZeroStudentsNames]="noOfNinethClassIndexZeroStudentsName"

 ></app-multi-level-dropdown>
</div>
