<div class="main">

  <nav>
    <div class="logo">
      <img src="assets/logo.png" alt="logo">
    </div>
    <div class="nav-link">
      <ul>
        <li><a>Home</a></li>
        <li><a>Phone</a></li>
        <li><a>Accessories</a></li>
        <li><a>Cart</a></li>
      </ul>
    </div>

  </nav>

  <div class="information">
    <img src="assets/mobile.png" class="mobile" alt="mobile pic">
    <div id="circle">
      <div class="feature one">
        <img src="assets/camera.png" alt="camera pic">
        <div>
          <h1>Camera</h1>
          <p>64 MP</p>
        </div>
      </div>

      <div class="feature two"> 
        <img src="assets/processor.png" alt="processor pic">
        <div>
          <h1>Processor</h1>
          <p>Snapdragon</p>
        </div>
      </div>

      <div class="feature three"> 
        <img src="assets/display.png" alt="display pic">
        <div >
          <h1>Display</h1>
          <p>7" Full Screen</p>
        </div>
      </div>

      <div class="feature four">
        <img src="assets/battery.png" alt="battery pic">
        <div>
          <h1>Battery</h1>
          <p>5200 mAh</p>
        </div>
      </div>

    </div>
  </div>

</div>