<div class="container mt-5">
    <div class="my-3">
        <h2 class="text-muted">Custom Observable</h2>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <strong>Ex-01 (Complete)</strong>
            <hr>
            <ul [ngClass]="techStatus1=='complete'?'complete':techStatus1=='error'?'error':''" id="elContainer1" class="tech-list elContainer"></ul>
        </div>
        <div class="col-md-6">
            <strong>Ex-02 (Error)</strong>
            <hr>
            <ul [ngClass]="techStatus2=='complete'?'complete':techStatus2=='error'?'error':''" id="elContainer2" class="tech-list elContainer"></ul>
        </div>
    </div>
</div>