ul.tech-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}
ul>li{
   margin-bottom: 10px;
   border: 1px solid;
   border-radius: 5px;
   padding: 10px 20px;
    
}

.complete li{
    color: green;
    background: rgb(214, 240, 214);
    border-color: green;
}
.error li{
    color: red;
    background: rgb(240, 222, 214);
    border-color: red;

}
