<div class="container">
    <h5 class="mt-5 text-muted">Change your password here</h5>
    <div class="card  shadow" style="width: 50%;">
        <div class="card-body">
            <form [formGroup]="changePasswordFormGroup" (ngSubmit)="submitChangePasswordForm()" >
                <div class="mb-3">
                  <label  class="form-label">New password:</label>
                  <input type="password" class="form-control" formControlName="changePassword">
                  
                </div>
               
             
                <button type="submit" class="btn btn-primary">Save</button>
              </form>
              <div>
                <div class="col-6">
                    <p>Back to <span><a routerLink="/login">login</a></span></p>
                </div>
              
               
              </div>
        </div>
    </div>
</div>
