
<div>
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <button mat-raised-button color="primary" routerLink="/rxjs">RXJS</button>
            <button mat-raised-button color="primary" style="margin-left: 10px;" routerLink="/navigation">Navigation</button>
            <span class="menu-spacer"></span>
            <button mat-raised-button color="primary">{{fullName}}</button>
            <button mat-raised-button color="primary" style="margin-left: 10px;" (click)="logout()">Logout</button>
        </mat-toolbar-row>
    </mat-toolbar>
</div>




<router-outlet></router-outlet>

