<div class="container text-center">
    <h1>we are going to learn pipes in angular!!!</h1>
    <h1>{{name | uppercase}}</h1>
    <h1>{{name | titlecase}}</h1>
    <h1>{{company | titlecase}}</h1>
    <h1>{{company | slice:3:4}}</h1>
    <h1>{{date | date:'short'}}</h1>
    <h1>{{date | date:'shortDate'}}</h1>
    <h1>{{date | date:'shortTime'}}</h1>
    <h1>{{date | date:'dd/MM/yyyy'}}</h1>
    <h1>{{1.123 | number:'2.2-6'}}</h1>
    <h1>{{0.25 | percent}}</h1>
    <h1>{{0.25 | currency:'INR'}}</h1>
    <h1>{{date | date:'longDate'}}</h1>
    <h1>{{date | date:'longTime'}}</h1>
    

</div>