<div class="container">
    <div class="col-md-6 offset-md-2 mt-5">
        <div class="card shadow bg-primary">
            <div class="card-body">
                <h1 class="text-center text-light">Going to Explore Async/Await Operator in angular</h1>
                <div class="col offset-md-2">
                    <p class="text-white">async keyword with a fuction always return a promise</p>
                    <p class="text-white">await keyword will wait untill promise is resolved</p>
                    <h1 class="text-white">Response: {{response}}</h1>
                </div>

            </div>
        </div>
    </div>
</div>