<div class="d-flex">
  <div class="column1 ">
    <about-page [aboutPage]="aboutPageData"></about-page>
    <social-media-page [socialMediaPage]="socialMediaPageData"></social-media-page>
  </div>

  <div class="column2">
    <information-page [informationPage]="informationPageData" ></information-page>
   <div class="p-status">
     <project-status-page [projectStatusPage]="projectStatusPageData"></project-status-page>
     <project-status-page [projectStatusPage]="projectStatusPageData"></project-status-page>

   </div>
  </div>

</div>
