<div class="education">
  <div><h5 style="background-color: lightgray;font-weight: bold;">Education</h5></div>
    <form >

      <div class="field mt-3" >
        <label>School <span style="color: red;">*</span></label>
        <input class=" input-style ml-2" style="width: 20rem;" type="text"   />
      </div>
      <div class="field">
        <label>Program <span style="color: red;">*</span></label>
        <input class="input-style ml-2" style="width: 20rem;"  type="text" />
      </div>
      <div class="field">
        <label >Education Level <span style="color: red;">*</span></label>
        <select id="dropdown2" class="input-style">
          <option value="volvo">-select-</option>
          <option value="volvo">Graduate</option>
          <option value="saab">Post Graduate</option>
          <option value="opel">Phd</option>
          <option value="audi">Diploma</option>
        </select>
      </div>


     <div class="field">
      <fieldset  class="border p-3 input-style">
        <legend style="font-size: 18px;">Education Status</legend>
        <input class="ml-2" type="radio" name="fieldset" value="Graduated"> Graduated <br>
        <input class="ml-2" type="radio"  name="fieldset"  value="Current Enrolled"> Current Enrolled <br>
        <input class="ml-2" type="radio"  name="fieldset" value="Did Not Graduate"> Did Not Graduate <br>
     </fieldset>
     </div>



      <div class="field">
        <label >Graduation Date <span style="color: red;">*</span></label>
        <input class="input-style ml-2" style="width: 20rem;"  type="text" />
      </div>

    </form>
</div>
