.logo-image{
    width: 50px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
 
 
}

.toright{
    margin-left: auto;
}

.icon{
    color: white;
}
.icons{
    margin-left: 89%;
}