<div class="container">
    <div class="col-md-6 offset-md-2 mt-5">
        <div class="card shadow bg-primary">
            <div class="card-body">
                <h1 class="text-center text-light">Going to Explore Interval and Timer Operator in angular</h1>
                <div class="col offset-md-2">
                    <p class="text-white">Interval is used to create observale stream</p>
                    <p class="text-white">Interval will generate new value every time after given time</p>
                    <p class="text-white">Working of timer is similar to interval but it takes 2 arguments(delay,interval)</p>
                    <h1 class="text-white">Response: {{response}}</h1>
                </div>

            </div>
        </div>
       <div class="row">
        <div class="col-md-4">
            <div class="card shadow mt-3">
                <div class="card-header">
                    User 1:
                </div>
                <div class="card-body">
                   <ul id="elContainer1"></ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow mt-3">
                <div class="card-header">
                    User 2:
                </div>
                <div class="card-body">
                   <ul id="elContainer2"></ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow mt-3">
                <div class="card-header">
                    User 3:
                </div>
                <div class="card-body">
                   <ul id="elContainer3"></ul>
                </div>
            </div>
        </div>
       </div>
    </div>
</div>