<div class="container mt-3">
  <form class="row g-3" #userForm="ngForm" (ngSubmit)="tdfFormSubmit(userForm.value)">
    <div >
      <label class="form-label" [ngClass]="{ 'invalid-lable': name.invalid && name.touched }" >Name</label>
      <input type="text" [class.is-invalid]="name?.invalid&& name?.touched"
      required #name="ngModel" name="Name" class="form-control" placeholder="Enter Name"
      minlength="4" pattern="^([A-Za-z]+ )+[A-Za-z]+$|^[A-Za-z]+$"  ngModel>
      <div *ngIf="name?.invalid&& name?.touched">
        <small class="text-danger" *ngIf="name?.errors?.['required']">Name is required</small>
        <small class="text-danger" *ngIf="name?.errors?.['minlength']">Name length should be more than 4</small>
        <small class="text-danger" *ngIf="name?.errors?.['pattern']">Name is invalid </small>
      </div>
    </div>
    <div >

      <label class="form-label" [ngClass]="{ 'invalid-lable': email.invalid && email.touched }">Email</label>
      <input type="email" [class.is-invalid]="email?.invalid&& email?.touched"
      required #email="ngModel" name="Email" class="form-control" placeholder="Enter Email"
      pattern="^[A-Za-z._]{3,}@[A-Za-z]{3,}[.]{1}[A-Za-z]{2,6}([.][A-za-z]{2,6})?$" ngModel>
      <div *ngIf="email?.invalid&& email?.touched">
        <small class="text-danger" *ngIf="email?.errors?.['required']">Email is required</small>
        <small class="text-danger" *ngIf="email?.errors?.['pattern']">Email is invalid </small>
      </div>
    </div>

    <div class="col-md-6">
      <label class="form-label" [ngClass]="{ 'invalid-lable': address.invalid && address.touched }">Address</label>
      <input type="text" [class.is-invalid]="address?.invalid&& address?.touched" required #address="ngModel" name="Address" class="form-control" pattern="^[a-zA-Z0-9\s,.'-]{3,}$"  placeholder="Enter Current Address" ngModel>
      <div *ngIf="address?.invalid&& address?.touched">
        <small class="text-danger" *ngIf="address?.errors?.['required']">Address is required</small>
        <small class="text-danger" *ngIf="address?.errors?.['pattern']">Address is invalid </small>
      </div>
    </div>
    <div class="col-md-3">
      <label  class="form-label">Address 2</label>
      <input type="text"  required #address2 ngModel name="Address2" class="form-control"  placeholder="Enter Permanent Address">
    </div>
    <div class="col-md-3">
      <label class="form-label" [ngClass]="{ 'invalid-lable': zipCode.invalid && zipCode.touched }">Zip Code</label>
      <input type="number" [class.is-invalid]="zipCode?.invalid&& zipCode?.touched" required #zipCode="ngModel" name="Zip Code" class="form-control" pattern="^[1-9][0-9]{5}$"  placeholder="Enter Zipcode" ngModel>
      <div *ngIf="zipCode?.invalid&& zipCode?.touched">
        <small class="text-danger" *ngIf="zipCode?.errors?.['required']">Zipcode is required</small>
        <small class="text-danger" *ngIf="zipCode?.errors?.['pattern']">Zipcode is invalid </small>
      </div>
    </div>
    <div class="col-md-4">
      <label class="form-label" [ngClass]="{ 'invalid-lable': city.invalid && city.touched }">City</label>
      <input type="text" [class.is-invalid]="city?.invalid&& city?.touched" required #city="ngModel"  name="City" class="form-control" pattern="^([A-Za-z]+ )+[A-Za-z]+$|^[A-Za-z]+$" placeholder="Enter City" ngModel>
      <div *ngIf="city?.invalid&& city?.touched">
        <small class="text-danger" *ngIf="city?.errors?.['required']">City is required</small>
        <small class="text-danger" *ngIf="city?.errors?.['pattern']">City is invalid </small>
      </div>
    </div>
    <div class="col-md-4">
      <label class="form-label" [ngClass]="{ 'invalid-lable': state.invalid && state.touched }">State / Province / Region</label>
      <select required [class.is-invalid]="state?.invalid&& state?.touched"  #state="ngModel"  name="State" class="form-select" ngModel>
        <option value="" selected disabled>Choose the State</option>
        <option>Madhya Pradesh</option>
        <option>Uttar pradesh</option>
        <option>Uttrakhand</option>
        <option>Delhi</option>
        <option>Hariyana</option>
      </select>
      <div *ngIf="state?.invalid&& state?.touched">
        <small class="text-danger" *ngIf="state?.errors?.['required']">State is required</small>
      </div>
    </div>

    <div class="col-md-4">
      <label class="form-label" [ngClass]="{ 'invalid-lable': country.invalid && country.touched }">Country</label>
      <input type="text" required #country="ngModel"  name="Country" class="form-control" pattern="^([A-Za-z]+ )+[A-Za-z]+$|^[A-Za-z]+$" placeholder="Enter Country" ngModel>
      <div *ngIf="country?.invalid&& country?.touched">
        <small class="text-danger" *ngIf="country?.errors?.['required']">Country is required</small>
        <small class="text-danger" *ngIf="country?.errors?.['pattern']">Country is invalid </small>
      </div>
    </div>

    <div class="col-12">
      <button type="submit" [disabled]="userForm.invalid" class="btn btn-primary">Submit</button>
      <button type="reset" class="btn btn-secondary" style="margin-left: 10px;">Reset</button>
    </div>
  </form>
</div>
