.card {
  width: 60rem;
  margin-left: 60px;
  margin-top: 30px;
  border: solid lightgray;
  border-radius: 10px;
  height: 100%;

}

#header {
  margin: 0;
  padding: 0;
  background-color: red;
  color: #fff;
  padding-left: 20px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;

}

.buttons{
  margin-top: 20px;
  margin-left: 350px;
  margin-bottom: 10px;
}
