<div class="container">
    <div class="col-md-6 offset-md-2 mt-5">
        <div class="card shadow bg-primary">
            <div class="card-body">
                <h1 class="text-center text-light">Going to explore Promises in angular</h1>
                <div class="col offset-md-2">
                    <div class="row">
                        <p class="text-white">promise is used in indefinite case</p>
                    </div>
                    <div class="row">
                        <p class="text-white">promise return single value either resolve or reject</p>
                    </div>
                    <div class="row">
                        <p class="text-white">In promie we use "then" to get the value of promise</p>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col offset-md-3">
                        <h1 class="text-light">Brand:</h1>
                        <h1 class="text-light">Storage:</h1>
                        <h1 class="text-light">Color:</h1>
                    </div>
                    <div class="col">
                        <h1 class="text-light">{{promiseValue?.brand}}</h1>
                        <h1 class="text-light">{{promiseValue?.storage}}</h1>
                        <h1 class="text-light">{{promiseValue?.color}}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>