.text-center {
    text-align: center;
    margin-top: 10px;
}

div {
    margin-top: 10px;
}

input.ng-invalid {
    border-right: 5px solid red;
}

input.ng-valid {
    border-right: 5px solid green;
}

.error {
    color: red
}

.margin{
    margin-left: 40px;
}
