<div class="container offset-md-3">
    <div class="col-md-8 mt-5">
        <div class="card shadow bg-primary">
            <div class="card-body">
                <h1 class="text-center text-light">Going to Explore toArray,pipe and take Operator in angular</h1>
                <div class="col offset-md-2">
                    <p class="text-white">toArray operator converts observable stream into an array</p>
                    <p class="text-white">pipe operator is used to combine two or more operators</p>
                    <p class="text-white">skip operator is used to skip first provided no of data</p>
                    <p class="text-white">take operator is used to define/resrict that how many observable stream you
                        want</p>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <div class="card shadow">
                    <div class="card-header">
                        Observable stream to Array
                    </div>
                    <div class="card-body">
                        <p>Observable Stream</p>
                        <ul id="elContainer1"></ul>
                        <p>An Array</p>
                        <p *ngIf="array1">[{{array1}}]</p>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</div>