<div class="container text-center" >
    <h1>this is dashboard here we will see all the values....</h1>
    <h3><b style="color: blue;"><i>Name: </i></b> {{data.name}}</h3>
    <h3><b style="color: blue;"><i>Email: </i></b>{{data.email}}</h3>
    <h3><b><i>Password: </i>{{data.password}}</b></h3>
    <h3><b><i>Confirm Password: </i>{{data.confirmPassword}}</b></h3>
    <h3><b><i>CurrentAddress: </i>{{data.currentAddress}}</b></h3>
    <h3><b><i>Native Address: </i>{{data.nativeAddress}}</b></h3>
    <h3><b><i>City: </i>{{data.address.city}}</b></h3>
    <h3><b><i>State: </i>{{data.address.state}}</b></h3>
    <h3><b><i>Pin Code: </i>{{data.address.zip}}</b></h3>
    <h3><b><i>Date of birth: </i>{{data.dateAndInput.datePicker |date:'MM/dd/yyyy'}}</b></h3>
    <h3><b><i>Profie Pic: </i>{{data.dateAndInput.fileInput}}</b></h3>

   


</div>