<ngb-carousel *ngIf="images">
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[0]" alt="Random first slide">
    </div>
    <div class="carousel-caption">
      <h3>Mithilesh</h3>
      <p>Software Engineer</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[1]" alt="Random second slide">
    </div>
    <div class="carousel-caption">
      <h3>Mithilesh Kumar</h3>
      <p>Angular Developer</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[2]" alt="Random third slide">
    </div>
    <div class="carousel-caption">
      <h3>Mithilesh Kumar Shah</h3>
      <p>Full Stack Developer</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[3]" alt="Random third slide">
    </div>
    <div class="carousel-caption">
      <h3>Mithilesh Kumar Shah</h3>
      <p>Full Stack Developer</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[4]" alt="Random third slide">
    </div>
    <div class="carousel-caption">
      <h3>Mithilesh Kumar Shah</h3>
      <p>Full Stack Developer</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[5]" alt="Random third slide">
    </div>
    <div class="carousel-caption">
      <h3>Mithilesh Kumar Shah</h3>
      <p>Full Stack Developer</p>
    </div>
  </ng-template>

</ngb-carousel>



<div class="container text-center mt-5">
  <label class="mr-2">Slider 2:</label>
  <mat-slider
  thumbLabel
  [displayWith]="formatLabel"
  tickInterval="1000"
  step="1000"
  min="0"
  max="100000"
  aria-label="units"
  >
</mat-slider>

</div>

<div class="container">
  <mat-card>
    <mat-card-content>
      <h2 class="example-h2">Slider configuration</h2>

      <section class="example-section">
        <label class="example-margin">Color:</label>
        <mat-radio-group [(ngModel)]="color">
          <mat-radio-button class="example-margin" value="primary">
            Primary
          </mat-radio-button>
          <mat-radio-button class="example-margin" value="accent">
            Accent
          </mat-radio-button>
          <mat-radio-button class="example-margin" value="warn">
            Warn
          </mat-radio-button>
        </mat-radio-group>
      </section>

      <section class="example-section">
        <mat-checkbox class="example-margin" [(ngModel)]="checked">Checked</mat-checkbox>
      </section>

      <section class="example-section">
        <mat-checkbox class="example-margin" [(ngModel)]="disabled">Disabled</mat-checkbox>
      </section>
    </mat-card-content>
  </mat-card>

  <mat-card class="result">
    <mat-card-content>
      <h2 class="example-h2">Result</h2>

      <section class="example-section">
        <mat-slide-toggle
            class="example-margin"
            [color]="color"
            [checked]="checked"
            [disabled]="disabled">
          Slide me!
        </mat-slide-toggle>
      </section>
    </mat-card-content>
  </mat-card>
</div>
<div class="container mt-5">
  <mat-slide-toggle>Slide me!</mat-slide-toggle>
</div>
