<div class="basic-info">
  <div><h5 style="background-color: lightgray;font-weight: bold;">Work Experience</h5></div>
    <form >

      <div class="field mt-3" >
        <label>Employer:</label>
        <input class=" input-style ml-2" style="width: 20rem;" type="text"   />
      </div>
      <div class="field">
        <label>Job Title:</label>
        <input class="input-style ml-2" style="width: 20rem;"  type="text" />
      </div>

      <div class="field text-area">
        <span style="vertical-align: top;">Job Duty:</span>
        <textarea class=" ml-2 input-style" rows="5" cols="40"></textarea>
      </div>

      <div class="field">
        <label>Worked Year:</label>
        <input class="input-style ml-2" style="width: 20rem;"  type="number" />
      </div>


    </form>
</div>
