<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <strong>Ex- 01(Debounce Time)</strong>
            <hr>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label"><strong>Search</strong></label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" #myInput1 placeholder="Search here">
                </div>
            </div>
            <hr>
             <span *ngIf="reqData1!=null">Requested Data: <strong class="text-success">{{reqData1}}</strong></span>
        </div>
        <div class="col-md-6">
            <strong>Ex- 02(Distinct Untill Changed)</strong>
            <hr>
           <div class="form-group row">
                <label class="col-sm-2 col-form-label"><strong>Search</strong></label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" #myInput2 placeholder="Search here">
                </div>
            </div>
            <hr>
             <span *ngIf="reqData2!=null">Requested Data: <strong class="text-success">{{reqData2}}</strong></span>
        </div>
    </div>
</div>