
  <div class="card">
    <div class="card-body">
         <h5><i class="mr-2"style="color:#40c4ff">assignment</i>Project Status</h5>
         <div>
          {{projectStatusPage[0].label}}
          <div><progress style="width: 100%;" value={{projectStatusPage[0].progressValue}} max="100"></progress></div>
         </div>
         <div>
          {{projectStatusPage[1].label}}
          <div><progress style="width: 100%;" value={{projectStatusPage[1].progressValue}} max="100"></progress></div>
         </div>

         <div>
          {{projectStatusPage[2].label}}
          <div><progress style="width: 100%;" value={{projectStatusPage[2].progressValue}} max="100"></progress></div>
         </div>

         <div>
          {{projectStatusPage[3].label}}
          <div><progress style="width: 100%;" value={{projectStatusPage[3].progressValue}} max="100"></progress></div>
         </div>

         <div>
          {{projectStatusPage[4].label}}
          <div><progress style="width: 100%;" value={{projectStatusPage[4].progressValue}} max="100"></progress></div>
         </div>

    </div>
  </div>


