<div class="container mt-5">
    <div class="card shadow">
    <div class="card-header">
        <h1>Take || TakeLast || TakeUntill</h1>
    </div>
        <div class="card-body text-center">
           
            <p>take is used to take first n data</p>
            <p>take last is used to take last n data</p>
            <p>take untill is used to take data utill the some condition is occur</p>
        </div>
        <div class="card-footer">
            Data:['mithilesh', 'subham', 'tushar', 'mahaveer', 'rajesh', 'suresh', 'ramesh', 'priyanshu', 'ramesh', 'mahesh'];
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-4">
            <strong>Ex- 01(Take)</strong>
            <hr>
            <ul id="elContainer1"></ul>
        </div>
        <div class="col-md-4">
            <strong>Ex- 02(TakeLast)</strong>
            <hr>
            <ul id="elContainer2"></ul>
        </div>
        <div class="col-md-4">
            <strong>Ex- 03(TakeUntill)</strong>
            <hr>
            <ul id="elContainer3"></ul>
        </div>
    </div>
</div>
